#__jda_debug_badge {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2147483647;
  pointer-events: none;
}
#__jda_debug_badge .wrap,
.wrap {
  pointer-events: auto;
  padding: 6px 10px;
  background: #111;
  color: #fff;
  font-size: 12px;
  border-radius: 6px;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    "Helvetica Neue", Arial, Noto Sans, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}
